@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'");

$font-inter: "Inter", sans-serif;

$black: #010101;
$red: #d40000;
$white: #ffffff;
$gray: #f3f2f0;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_full_1750: 1750px;

html {
  font-size: 10px;
  @media (max-width: $r_mob_500) {
    font-size: 8px;
  }
}

body {
  font-family: $font-inter;
  overflow-x: hidden;
  background: $gray;
  color: $black;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  @media (max-width: $r_tab) {
    max-width: 600px;
  }
}

.header {
  max-width: 1140px;
  margin: 0 auto 6rem;
  display: flex;
  gap: 8rem;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 6rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  @media (max-width: $r_desk_1280) {
    gap: 3%;
  }
  &__navigation {
    flex-grow: 1;
    margin-left: 4.5rem;
    @media (max-width: $r_desk_1280) {
      margin-left: 0;
    }
    @media (max-width: $r_desk_hd) {
      flex-grow: 0;
    }
    @media (max-width: $r_tab_900) {
      display: none;
    }
  }
  &__nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    gap: 5rem;
    @media (max-width: $r_desk_hd) {
      gap: 2.5rem;
    }
  }
  &__link {
    color: $black;
    text-decoration: none;
    &:hover {
      color: $red;
    }
  }
  &__tel {
    color: $black;
    text-decoration: none;
    flex-basis: 200px;
    letter-spacing: 1.3px;
    text-align: right;
    border-right: 1px solid #ccc;
    padding-right: 5px;
    &:hover {
      color: $red;
    }
    @media (max-width: $r_desk_hd) {
      display: none;
    }
  }
  &__email {
    color: $black;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    text-align: center;
    &:hover {
      color: $red;
    }
  }
}

.main {
  margin-bottom: 9rem;
  &__cover {
    width: 100%;
    height: 310px;
    margin-bottom: 5rem;
  }
  &__photo {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
  }
  &__info {
  }
  &__header {
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 150%;
    margin-bottom: 10rem;
  }
  &__prof {
    text-transform: uppercase;
  }
  &__grid-socials {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
  }
  &__nav {
    display: flex;
    gap: 2.8rem;
  }
  &__item {
    list-style-type: none;
    &:first-child a::before {
      display: none;
    }
  }
  &__link {
    display: block;
    color: $black;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.5;
    transition: 0.3s;
    &:hover {
      color: $red;
    }
    &::before {
      content: "|";
      position: relative;
      left: -1px;
      pointer-events: none;
      padding-right: 2.8rem;
    }
  }
  &__grid-items {
    display: flex;
    border-top: 1px solid #000;
    padding-top: 6rem;
    justify-content: space-between;
    gap: 9rem;
    margin-bottom: 18rem;
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-style: normal;
    line-height: 150%;
    color: $black;
    max-width: 250px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $black;
    opacity: 0.8;
  }
  &__about {
  }
  &__about-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
    border-bottom: 1px solid $black;
  }
  &__h2 {
    text-align: start;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #010101;
  }
  &__about-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 6rem;
    margin-bottom: 18rem;
  }
  &__order {
  }
}

.grid {
  &__actions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    &-item1 {
      grid-column: 1/3;
    }
    &-item2 {
      grid-column: 3/5;
    }
    &-title {
      font-size: 2.8rem;
      line-height: 150%;
      font-weight: 400;
      margin: 3rem 0 2.8rem 0;
    }
    &-item2 {
      display: flex;
      align-items: center;
    }
  }
}

.title-prof {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black;
}

.title-skills {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: $black;
}

.item-1 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.item-2 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.item-3 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.item-4 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.user__text {
  max-width: 570px;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  color: $black;
  opacity: 0.8;
}

.standart-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #010101;
  opacity: 0.8;
}

.button-project {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  background-color: inherit;
  border: none;
  align-items: center;
  color: $black;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 3.3rem;
  padding-left: 0;
  cursor: pointer;
  transition-timing-function: ease-out;
  position: relative;
  &::after {
    content: "";
    width: 1px;
    height: 2px;
    background-color: $black;
    display: block;
    opacity: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
  }
  &:hover::after {
    opacity: 1;
    width: 171px;
    @media (max-width: $r_tab) {
      width: 136px;
    }
    @media (max-width: $r_mob_500) {
      width: 119px;
    }
  }
  @media (max-width: $r_tab) {
    font-size: 1.2rem;
  }
  @media (max-width: $r_mob_500) {
    line-height: 1.8rem;
    padding-right: 17px;
    background-size: 10px;
  }
}

.sphere {
  height: 253px;
  width: 253px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
  position: relative;
  background-color: #fff;
  display: inline-block;
  margin: 5%;
  z-index: -1;
  position: absolute;
  top: -80px;
  left: -150px;
}

.sphere-s {
  height: 106px;
  width: 106px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
  background-color: #fff;
  display: inline-block;
  margin: 5%;
  z-index: -1;
  position: absolute;
  top: 130px;
  right: -5px;
}

.sphere-m140 {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
  background-color: #fff;
  display: inline-block;
  margin: 5%;
  z-index: -1;
  position: absolute;
  top: -100px;
  left: 0;
}
.sphere-s1 {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
  background-color: #fff;
  display: inline-block;
  margin: 5%;
  z-index: -1;
  position: absolute;
  top: 410px;
  right: 570px;
}
.sphere-s2 {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
  background-color: #fff;
  display: inline-block;
  margin: 5%;
  z-index: -1;
  position: absolute;
  top: 1080px;
  right: 570px;
}

.sphere-l {
  height: 456px;
  width: 456px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
  background-color: #fff;
  display: inline-block;
  margin: 5%;
  z-index: -1;
  position: absolute;
  top: -90px;
  left: 300px;
}

.triangle-top {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid $red;
  position: absolute;
  top: -10px;
  left: -110px;
}

.portfolio {
  margin-bottom: 18rem;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 901px;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      #e7e6e6 0%,
      rgba(231, 230, 230, 0) 100%
    );
    z-index: -2;
    @media (max-width: $r_desk) {
      top: 143px;
    }
    @media (max-width: $r_mob_500) {
      top: 103px;
    }
  }
  &__header {
    position: relative;
    z-index: 0;
    // background-color: #f3f2f0;
    padding: 90px 0px 90px 0px;
    position: relative;
  }
  &__title {
  }
  &__h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 7.4rem;
    line-height: 90px;
    text-transform: uppercase;
    color: #010101;
  }
  &__info__h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #010101;
  }
  &__items {
    list-style-type: none;
    padding: 0;
  }
  &__item {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    opacity: 0.8;
  }
  &__bottom {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
  }
  &__site {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $black;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  &__img {
    z-index: 2;
  }
}

.extraskills {
  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    padding-bottom: 8rem;
    max-width: 800px;
  }
  &__img {
    width: 40px;
    height: 40px;
  }
  &__info {
    max-width: 214px;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 1rem;
  }
  &__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    opacity: 0.8;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 50px;
    gap: 80px;
    margin-bottom: 164px;
  }
  &__item {
    display: flex;
    gap: 30px;
    // margin-bottom: 80px;
  }
}

.line {
  margin: 0;
  width: 100%;
  border: 1px solid $black;
}

.tecks {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 13rem;
    // gap: 80px;
  }
  &__item {
    align-items: center;
    padding: 32px 105px;
    border: 1px solid $black;
    opacity: 0.3;
    box-sizing: border-box;
  }
  &__img {
    display: block;
    width: 105px;
    height: 86px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    filter: grayscale(1);
    transition: 0.3s;
  }
}

.rates {
  position: relative;
  margin-bottom: 14rem;
  &__about-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
  }
  &__h2 {
    text-align: start;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
  }
  &__h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    max-width: 400px;
  }
  &__item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    opacity: 0.8;
  }
  &__projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 36px;
    margin-bottom: 60px;
    gap: 1.6rem;
  }
  &__info {
    grid-column: 1/3;
  }
  &__price {
    grid-column: 3/5;
  }
  &__sum {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 150%;
    color: #010101;
  }
}

.card {
  // border: 2px solid rgba($red, 0.4);
  // padding: 3.2rem 5.8rem 4rem;
  // border-radius: 2rem;
  &__title {
    font-size: 30px;
    font-family: $font-inter;
    margin-top: 0;
  }
  &__label {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #010101;
    opacity: 0.8;
  }
  &__input {
    border: none;
    background-color: rgba(1, 1, 1, 0.05);
    display: block;
    padding: 24px 0px 24px 20px;
    width: calc(100% - 20px);
    &:focus {
      border: 1px solid rgba($red, 1);
      outline: none;
    }
    &:invalid {
      border: red;
    }
  }
  &__check {
    font-size: 1.2rem;
    color: rgba($red, 0.6);
    line-height: 1.5;
    min-width: 360px;
    margin-top: 1.6rem;
    margin-bottom: 0;
  }
  &__link {
    margin-top: 1.2rem;
  }
  &__docs {
    color: rgba($red, 0.6);
    text-decoration: none;
    border-bottom: 1px solid #ecedec;
  }
}

.link {
  color: #fff;
  background-color: initial;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}

.contact-box {
  &__form {
    // margin: 0px auto;
    max-width: 560px;
    width: calc(100% - 10px);
  }
  &__submit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d40000;
    margin-top: 40px;
    width: 100%;
    height: 65px;
    z-index: 0;
    transition: 0.3s;
  }
}

.footer {
  margin-bottom: 9rem;
  &__cover {
    width: 100%;
    height: 310px;
    margin-bottom: 5rem;
  }
  &__contact {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  &__photo {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
  }
  &__info {
  }
  &__header {
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 150%;
    margin-bottom: 10rem;
  }
  &__prof {
    text-transform: uppercase;
  }
  &__grid-socials {
    display: flex;
    justify-content: space-between;
    // padding-bottom: 6rem;
  }
  &__nav {
    display: flex;
    gap: 2.8rem;
    align-items: flex-end;
  }
  &__item {
    list-style-type: none;
    &:first-child a::before {
      display: none;
    }
  }
  &__link {
    display: block;
    color: $black;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.5;
    transition: 0.3s;
    &:hover {
      color: $red;
    }
    &::before {
      content: "|";
      position: relative;
      left: -1px;
      pointer-events: none;
      padding-right: 2.8rem;
    }
  }
  &__grid-items {
    display: flex;
    border-top: 1px solid #000;
    padding-top: 6rem;
    justify-content: space-between;
    gap: 9rem;
    margin-bottom: 18rem;
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-style: normal;
    line-height: 150%;
    color: $black;
    max-width: 250px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $black;
    opacity: 0.8;
  }
  &__about {
  }
  &__about-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
    border-bottom: 1px solid $black;
  }
  &__h2 {
    text-align: start;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #010101;
  }
  &__about-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 6rem;
    margin-bottom: 18rem;
  }
  &__order {
  }
}

.footer__bottom {
  max-width: 1140px;
  margin: 0 auto 6rem;
  // display: flex;
  // justify-content: space-between;
  gap: 8rem;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 6rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  @media (max-width: $r_desk_1280) {
    gap: 3%;
  }
  &-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__navigation {
    flex-grow: 1;
    margin-left: 4.5rem;
    @media (max-width: $r_desk_1280) {
      margin-left: 0;
    }
    @media (max-width: $r_desk_hd) {
      flex-grow: 0;
    }
    @media (max-width: $r_tab_900) {
      display: none;
    }
  }
  &__nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    gap: 5rem;
    @media (max-width: $r_desk_hd) {
      gap: 2.5rem;
    }
  }
  &__link {
    color: $black;
    text-decoration: none;
    &:hover {
      color: $red;
    }
  }
  &__tel {
    color: $black;
    text-decoration: none;
    flex-basis: 200px;
    letter-spacing: 1.3px;
    text-align: right;
    border-right: 1px solid #ccc;
    padding-right: 5px;
    &:hover {
      color: $red;
    }
    @media (max-width: $r_desk_hd) {
      display: none;
    }
  }
  &__email {
    color: $black;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    text-align: center;
    &:hover {
      color: $red;
    }
  }
  &__copy {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #010101;

    opacity: 0.3;
  }
}
